body{
    background: rgb(225, 195, 246);
    
}

.nav{ 
    background: pink;
    
}
.nav-link{
    color: rgb(38, 78, 209);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    color:rgb(244, 119, 173);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    font-size: 80px;
    
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 20px;
}

p, ul{
    list-style:none;
    text-align: center;
    color: black;
    font-size: 30px;
}
.btn{
    color: hotpink;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}